<ul class="nav">

    <i style="margin-top: 20px; margin-left: 20px; font-size: 30px;color: white;" class="fas fa-shipping-fast"></i>
    <strong style="margin-top: 20px; text-align: center; margin-left: 5px;"><span style="color: white;font-size: 20px;">FlipCart</span></strong>
  
    <div>
        <input class="input" type="text" placeholder="Enter the product name">
    </div>
    <button type="button" class="btn btn-primary button">Search</button>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
    <button type="button" class="btn btn-primary cart" routerLink="/cart">
        AddCart<span  class="badge bg-danger">{{totalItem}}</span>
      </button>
    
  </ul>

  